{% block title %}<h2>Register for a Rags2Riches Account</h2>{% endblock %}
{% block body %}

{% if error %}
  <h2 style="color:red;"> {{ error }} </h2>
{% endif %}


<form action="" method="POST">
  {{ form.csrf_token }}
  <div>
    {% for error in form.name.errors %}
      <h5 style="color:red;"> {{ error }} </h5>
    {% endfor %}

    {{ form.name.label }}*
    {{ form.name }}
  </div>
</br>
<div>
  {% for error in form.email.errors %}
    <h5 style="color:red;"> {{ error }} </h5>
  {% endfor %}

  {{ form.email.label }}*
  {{ form.email }}

</div>
</br>
<div>
  {% for error in form.phone.errors %}
    <h5 style="color:red;"> {{ error }} </h5>
  {% endfor %}

  {{ form.phone.label }}*
  (example: 1234567890)
  {{ form.phone }}
</div>
</br>
<div>
  {% for error in form.dorm_building.errors %}
    <h5 style="color:red;"> {{ error }} </h5>
  {% endfor %}

  {{ form.dorm_building.label }}*
  {{ form.dorm_building }}
</div>
</br>
  <div>
    {% for error in form.username.errors %}
      <h5 style="color:red;"> {{ error }} </h5>
    {% endfor %}

    {{ form.username.label }}*
    {{ form.username }}
  </div>
</br>
  <div>
    {% for error in form.password.errors %}
      <h5 style="color:red;"> {{ error }} </h5>
    {% endfor %}

    {{ form.password.label }}*
    {{ form.password }}
  </div>
</br>
  <div>
    {% for error in form.confirm.errors %}
      <h5 style="color:red;"> {{ error }} </h5>
    {% endfor %}

    {{ form.confirm.label }}*
    {{ form.confirm }}
  </div>
</br>

  <input type="submit" value="Register">
</form>
{% endblock %}
