{% block title %}<h2>Register</h2>{% endblock %}
{% block body %}


<form action="" method="POST">
  {{ form.csrf_token }}
  <div>
    {{ form.name.label }}
    {{ form.name }}
  </div>
</br>
<div>
  {{ form.email.label }}
  {{ form.email }}
</div>
</br>
<div>
  {{ form.phone.label }}
  {{ form.phone }}
</div>
</br>
<div>
  {{ form.dorm_building.label }}
  {{ form.dorm_building }}
</div>
</br>
  <div>
    {{ form.username.label }}
    {{ form.username }}
  </div>
</br>
  <div>
    {{ form.password.label }}
    {{ form.password }}
  </div>
</br>
  <div>
    {{ form.confirm.label }}
    {{ form.confirm }}
  </div>
</br>

  <input type="submit" value="Register">
</form>
{% endblock %}
