{% block title %}<h2>Login</h2>{% endblock %}
{% block body %}

{% if error %}
  <p><strong>Error:</strong> {{ error }}
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="" method="POST">
  {{ form.csrf_token }}
  <div>
    {{ form.username.label }}
    {{ form.username }}
  </div>
</br>
  <div>
    {{ form.password.label }}
    {{ form.password }}
  </div>
</br>
  <input type="submit" value="Login">
  <input type="button" value="Register New User" onclick="location.href='/login/register';">
</form>
{% endblock %}
