{% block title %}<h2>Login</h2>{% endblock %}
{% block body %}

{% if error %}
  <h4 style="color:red;"> {{ error }} </h4>
{% endif %}

<form action="" method="POST">
  {{ form.csrf_token }}
  <div>
    {% for error in form.username.errors %}
      <h5 style="color:red;"> {{ error }} </h5>
    {% endfor %}

    {{ form.username.label }}
    {{ form.username }}
  </div>
</br>
  <div>
    {% for error in form.password.errors %}
      <h5 style="color:red;"> {{ error }} </h5>
    {% endfor %}

    {{ form.password.label }}
    {{ form.password }}
  </div>
</br>
  <input type="submit" value="Login">
  <input type="button" value="Register New User" onclick="location.href='/login/register';">
</form>
{% endblock %}
