<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create a Listing</title>
	</head>
	<body>
		<h1>Create a Listing</h1>
		<form action="/list" method="post">
			<input type="text" placeholder="Title" name="list_title" required/>
			<input type="text" placeholder="Size" name="list_size" required/>
			<input type="text" placeholder="Price" name="list_price" required/>
			<input type="text" placeholder="Condition" name="list_condition" required/>
			<button type="submit">Create</button>
		</form>
	</body>
</html> 
