<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create a Listing</title>
	</head>
	<body>
		<h1>Create a Listing</h1>
		
		{% if error %}
			{% if error==1 %}
				<h2 style="color:red;">Please fill all required fields.</h2></p>
			{% endif %}
			{% if error==2 %}
				<h2 style="color:red;">Please make sure price is a number.</h2>
			{% endif %}
			{% if error==3 %}
				<h2 style="color:red;">Title "{{ title }}" taken. Please rename your item.</h2>
			{% endif %}
		{% endif %}

		<form action="/list" method="post">
			<p>*Title: <input type="text" name="list_title" required/></p>
			<p>*Size: <select name="list_size">
				<option value="XS">XS</option>
				<option value="S">S</option>
				<option value="M">M</option>
				<option value="L">L</option>
				<option value="XL">XL</option>
			</select></p>
			<p>*Price per Day (in $): <input type="text" name="list_price" required/></p>
			<p>Other Info (optional): <input type="text" placeholder="Brand, Cleaning instructions, Visible stains/rips, etc..." name="list_info" required/><br>
			<button type="submit">Create</button>
		</form>
		<a href="/feed"><button>Back to Feed</button></a>
	</body>
</html> 
